<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191462736233-vdurvsvmgvggtm00m1pfg6pvtg7lkdsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191462736233-vdurvsvmgvggtm00m1pfg6pvtg7lkdsd</string>
	<key>API_KEY</key>
	<string>AIzaSyAffpgw7Q3DrCWDFsGWyz2K_JdQn5Jr3sU</string>
	<key>GCM_SENDER_ID</key>
	<string>191462736233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bernardoCardosoPresentation.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bernardo-cardoso-presentation</string>
	<key>STORAGE_BUCKET</key>
	<string>bernardo-cardoso-presentation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191462736233:ios:f18f2bba83ddc0a6a37df8</string>
</dict>
</plist>